<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.b.a.myapplication">
    <!--  application 当前应用程序  ,package app的唯一标识-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My APP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 有四大组件,五大布局: (四大组件都需要在配置文件中配置)
              1: Activity：app的xml+代码(xml文件负责实现android组件的布局)
              2: Service: 独立Activty页面,可以在后台执行的线程(听歌、加载资源都需要通过Service实现)
              3: Broadcast Receiver:广播接受者.可以用来接收系统发送的广播.（android系统与app交互的方式）
               分为有序(来点黑名单拦截)无序(锁屏、解锁、电量提示)
              4: Content Provider (提供了访问SQLite数据的API)
         -->
        <activity android:name="c.b.a.myapplication.MainActivity" android:label="My Activity">
            <!-- intent 意图: android.intent.action.MAIN 就是当前activty的key,
                 category: 指定当前activty的类型,如果是启动的activty则必须是LAUNCHER
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>